[submodule "sdntrace_cp"]
	path = sdntrace_cp
	url = ssh://git@gitlab.ampath.net:2712/sdn-lg/sdntrace_cp.git
[submodule "grafana-amlight-app-sdnlg"]
	path = grafana-amlight-app-sdnlg
	url = ssh://git@gitlab.ampath.net:2712/rogerio/grafana-amlight-app-sdnlg.git
[submodule "coloring"]
	path = coloring
	url = ssh://git@gitlab.ampath.net:2712/sdn-lg/coloring.git
[submodule "scheduler"]
	path = scheduler
	url = ssh://git@gitlab.ampath.net:2712/sdn-lg/scheduler.git
[submodule "kytos_flow_manager"]
	path = kytos_flow_manager
	url = ssh://git@gitlab.ampath.net:2712/sdn-lg/kytos_flow_manager.git
