[submodule "sdntrace_cp"]
	path = sdntrace_cp
  url = https://github.com/amlight/sdntrace_cp.git
[submodule "grafana-amlight-app-sdnlg"]
	path = grafana-amlight-app-sdnlg
  url = https://github.com/amlight/grafana-amlight-app-sdnlg.git
[submodule "coloring"]
	path = coloring
  url = https://github.com/amlight/coloring.git
[submodule "scheduler"]
	path = scheduler
  url = https://github.com/amlight/scheduler.git
[submodule "sdntrace"]
	path = sdntrace
  url = https://github.com/amlight/sdntrace.git
[submodule "flow_stats"]
	path = flow_stats
	url = https://github.com/amlight/flow_stats.git
[submodule "kytos_courier"]
	path = kytos_courier
  url = https://github.com/amlight/kytos_courier.git
[submodule "ofp_sniffer"]
	path = ofp_sniffer
	url = https://github.com/amlight/ofp_sniffer.git
